* {
	font-family: Arial;
}

.pretty {
	width: 100%;
}

.miniImg {
  top: 350px;
  left: 100px;
  width: 100px;
  border-radius: 100%;
  border: 6px solid white;
  position: absolute;
}

.main {
	width: 1330px;
	/*border: 3px solid black;*/
}
.search {
	width: 15%;
	margin-left: 8%;
	margin-top: 45px;
	margin-right: 10px;
	color: #C9C9C9;
	display: inline-block;
	position: relative;
	vertical-align: top;
	/*border: 2px solid black;*/
}

.img1 {
	display: inline-block;
}

.mainColumn {
	width: 50%;
	margin-top: 25px;
	margin-left: 0 auto;
	display: inline-block;
	/*border: 2px solid blue;*/
}

.mainColumn p {
	color: #686868;
}

.prev_next {
	border-top: 1px solid #EFEFEF;
	border-bottom: 1px solid #EFEFEF;
	margin-bottom: 70px;
	margin-top: 70px;
}


.older {
  display: inline-block;
  position: relative;
  font-weight: 200;
  left: 510px;
  color: #EFEFEF;
}

.newer {
  display: inline-block;
  position: relative;
  font-weight: 200;
  left: 50px;
  color: #EFEFEF;
}

.subscribe {
	background-color: white;
	width: 280px;
	height: 90px;
	position: fixed;
	border: 1px solid #F0F0F0;
	bottom: 10px;
	right: 10px;
}

.subscribeH {
	border: 1px solid #F0F0F0;
}

.subscribeP {
	display: inline-block;
	margin-top: 10px;
	vertical-align: top;
}

.tinyImg {
	display: inline-block;
	margin: 8px;
}

.follow-button {
	display: inline-block;
	height: 25px;
	width: 80px;
	background-color: #559FCA;
    position: absolute;
    right: 7px;
    bottom: 17px;
    border-radius: 2px;
}

.follow-text {
	margin-top: 5px;
	margin-left: 10px;
	color: white;
}

.footer {
	border-top: 1px solid #EFEFEF;
	height: 250px;
}

.footer_img {
    width: 60px;
	border-radius: 100%;
	position: relative;
	display: inline-block;
	left: 250px;
	top: 80px;
}

.footer_header {
    display: inline-block;
	color: #B9B9B9;
	position: relative;
	left: 300px;
	top: 35px;
	font-size: 1em;
}

.footer_sub {
    display: inline-block;
	color: #9F9F9F;
	position: relative;
	top: 65px;
	left: 133px;
	font-weight: 200;
}