.pretty {
	width: 100%;
}

.main {
	width: 1330px;
	border: 3px solid black;
}
.search {
	width: 15%;
	margin-left: 10%;
	color: gray;
	display: inline-block;
	position: relative;
	vertical-align: top;
	border: 2px solid black;
}

.img1 {
	display: inline-block;
}

.mainColumn {
	width: 50%;
	margin-left: 0 auto;
	display: inline-block;
	border: 2px solid blue;
}

.subscribe {
	position: fixed;
	float:right;
	border: 2px solid gray;
	bottom: 50px;
	right: 50px;
}

.subscribeP {
	display: inline-block;
}

.tinyImg {
	position: inline-block;
}